#
# INPUT Config File for CMEMS Downloading
#
# Includes all files paths and parameters for the motu client
#
#-------------------------------------------------------------------------------
product_id=dataset-duacs-nrt-blacksea-merged-allsat-phy-l4-v3
service_id=SEALEVEL_BS_PHY_L4_NRT_OBSERVATIONS_008_041-TDS
date_min=2018-02-01
date_max=2018-02-03
lonmin=27.0625
lonmax=41.9375
latmin=40.0625
latmax=46.9375
variables=sla,ugosa,vgosa
#-------------------------------------------------------------------------------
